<% layout("template") %>
<main class="container my-5">
    <div class="d-flex flex-column">
        <h1 class = "text-white"> Edit your item. </h1>

        <div class="d-flex justify-content-between mt-5 gap-3">
            <a href = "/marketplace" class="btn btn-primary text-decoration-none text-white" role="button">Marketplace</a>
            <div class="d-flex gap-3 align-items-center">
                <a href = "/marketplace/<%= item._id %>" class="btn btn-primary text-decoration-none text-white" role="button">Listing</a>
                <form action = "/marketplace/<%= item._id %>?_method=DELETE" method = "post">
                    <input type = "submit" class = "btn btn-danger text-white h-100" role="button" id = "del_button" value = "Delete">
                </form>
            </div>
        </div>

        <div class="d-flex align-items-center mt-5">
            <img src="../../static/images/sunflower.jpg" class="img-fluid" alt="sunflower">
        </div>

        <form action = "/marketplace/<%= item._id %>?_method=PUT" method = "post" novalidate class="d-flex flex-column gap-3 mt-5 needs-validation">
            <div class="d-flex flex-column gap-1">
                <label for = "title">Title</label>
                <input type = "text" id = "title" required name = "item[title]" value = "<%= item.title %>" class="form-control">
            </div>
            
            <div class="d-flex flex-column gap-1">
                <label for = "category">Category</label>
                <input type = "text" id = "category" required name = "item[category]" value = "<%= item.category %>" class="form-control">
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "condition">Condition</label>
                <input type = "text" id = "condition" required name = "item[condition]" value = "<%=item.condition %>" class="form-control">
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "Description">Description</label>
                <textarea type = "text" id = "description" required name = "item[description]" class="form-control"><%= item.description %></textarea>
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "location">Location</label>
                <input type = "text" id = "location" required name = "item[location]" value = "<%= item.location %>" class="form-control">
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "price">Price</label>
                <div class = "input-group">
                    <span class="input-group-text">$</span>
                    <input type = "text" id = "price" required name = "item[price]" value = "<%= item.price %>" class="form-control">
                    <span class="input-group-text">.00</span>
                </div>
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "name">Username</label>
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input type = "text" id = "name" required name = "item[name]" value = "<%= item.name %>" class="form-control">
                </div>
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "email">Email</label>
                <div class = "input-group">
                    <input type = "text" id = "email" required name = "item[email]" value = "<%= item.email %>" class="form-control">
                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                </div>
            </div>

            <div class="d-flex flex-column gap-1">
                <label for = "phone">Phone</label>
                <div class = "input-group">
                    <input type = "text" id = "phone" required name = "item[phone]" value = "<%= item.phone %>" class="form-control">
                    <span class="input-group-text">(XXX) XXX-XXXX</span>
                </div>
            </div>

            <input type = "submit" id = "submit" value = "Update" class="btn btn-success mt-3 align-self-end" role="button">
        </form>
    </div>
</main>

<script>
        (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
        })
    })()
</script>